a{
	color: #000;
}

a > i {
	color: #5cb85c;
}

body{
	height: 100%;
}
.text-bold{
	font-weight: bold;
}
.text-pay{
	font-weight: bold;
	font-size: 14px;
	color: #444;
}
.text-day{
	font-weight: bold;
	font-size: 14px;
	color: #444;
}
.book-tbl {
  position: relative;
  display: inline-flex;
  width: 100%;
  margin-top: 0;
  padding-bottom: 20px;
}
label.checkbox{
	font-size: 0.9em;

}


.max-width{
	max-width: 100%;
}

#BookingController{
	min-height:  230px;
}

.box-booking-item{
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}
.box-booking-total{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	color: #09b06a;
}

.book-tbl > ul li {
	display: block;
	float: left;
	margin: 0 2px;
}
.box-lock{
	padding: 20px;
	padding-top: 0px;
}
.book-tbl > ul > li > label {
	display: inline-block;
	position: relative;
	width: 48px;
	color: #fff;
	background: #09b06a;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.25s ease 0s;
  	-webkit-transition: all 0.25s
}

.book-tbl > ul > li > label:hover {
	background: #8bc63a;
}

.book-tbl > ul > li > label:active {
	transition: 0; 
  -webkit-transition: 0;
	-webkit-filter: brightness(.8);
}


.book-tbl > ul > li >  label:active {
	transition: 0; 
  -webkit-transition: 0;
	-webkit-filter: brightness(.8);
}

.book-tbl > ul > li >  input {
	display: none;
}

.book-tbl > ul > li > input:checked + label {
	background: #df314a;
	color: #fff;
}

.book-tbl > ul > li > input:checked + label {
	animation: boom .5s;
  -webkit-animation: boom .5s;
}

@keyframes boom {
	25% { transform: scale(1.25); }
}
@-webkit-keyframes boom {
	25% { -webkit-transform: scale(1.25); }
}
.book-tbl > ul > li > input:disabled + label {
	color: #fff;
	background: #eee;
	cursor: not-allowed;
}

#BookingController{
	margin-bottom: 30px;
}

.circleBase {
	width: 100px;
	height: 100px;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    background: #999;
    display: block;
    margin: 0 auto;
}
img.profile{
	width: 100px;
	height: 100px;
}

.content{
	min-height: 250px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.relative{
	position: relative;
}
.menu-right{
	position: absolute;
    bottom: 0;
    right: 20px;
}
.menu-right li{
	width: 150px;
	text-align: center;
}
.login-form{
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}
form.ng-pristine.ng-valid div.row{
	/*margin: 10px;*/
}


form.ng-pristine.ng-valid input{
	text-align: left;
}

.box-booking-summary{
	border:1px solid #5cb85c;
	padding: 2%;
}
.box-booking-button{
	margin-top: 20px;
	margin-bottom: 20px;
}
.media-left {
	float: left;
	width: 120px;
}
.media-left > .lock-number-booking{
		width: 90px;
		height: 90px;
		padding: 10px;
		padding-top: 8px;
		font-weight: bold;
		margin-top: 0;
		vertical-align: middle;
		border:1px solid #ccc;
		text-align: center;
		background: #fff;
}

#checking  div.media-left.active .lock-number-booking{
	cursor: pointer;

	-moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#checking  div.media-left.active .lock-number-booking:hover{
	 border-radius: 50%;
	 border-color: #5cb85c;
}

div.media-left.active .lock-number-booking a:hover{
	text-decoration: none;
	color :#5cb85c;
}

#checking .box-child{
		width: 50px;
		height: auto;
		padding: 0;
		/*border:1px solid #ccc;*/
}
.box-payment-status{
	position: relative;
	float: none;
	clear: left;
}

	
#checking  .media{
		margin-top: 40px;
		padding-left: 10%;
}
#checking  .media-body{
		padding: 1px;
		line-height: 1em;
}

.clear-left{
	clear: left;
	float: none;
	display: block;
	position: relative;
}
.media-right.payement{
	font-size: 1.2em;
	font-weight: bold;
}


.box-inform-upload{
	border: 2px dashed #5cb85c;
	width: 250px;
	display: block;
	min-height: 250px;
	border-radius: 50%;
	margin: 20px auto;
	padding: 13%;
}
.btn-upload{
	margin-top: 5%;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.box-select-date{
	width: 80%;
	margin: 10px auto;
}

/*
.box-inform-date{
	margin-top:20px;
	margin-bottom: 20px;
}*/

@media screen and (max-width: 765px) {
	#checking .box-child{
			width: 50px;
			height: 40px;
			padding: 0;
			float: left;
	}

	#checking .media{
			margin-top: 20px;
	}

	#checking .media .media-body{
		line-height: 1.2em;
	}

	.row.relative{
		padding: 10px;
	}

}

@media screen and (max-width: 450px) {
	#checking .media .media-body{
		font-size: 0.9em;
	}

}

